


#myVideo {
    position: fixed;
    z-index: -1;
    right: 10;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    filter: brightness(100%);
  }
.card-img{
    filter: brightness(100%);
    width: 60%;
    opacity: 20%;
}
.card{
    height: auto;
    margin:10px;
    padding: 20px;
    display: inline-block;
}
.Random{
    
    display: inline-block;
}
.bg-transparent
{
   background-color: transparent;
}
.card-title {
    color: #f4592f;
    font-size: 60px;
    text-align: center;
    font-weight: 400;
    margin-top: 30px;
}
html {
    font-size: 1rem;
 }
 h1 {
   font-size: 1.2rem;
 }
 p {
   font-size: 1.1rem;
 }
 
 @media (min-width: 768px) {
   html {
     font-size: 1.1rem;
   }
   h1 {
       font-size: 1.3rem;
   }
   p {
       font-size: 1.2rem;
   }
 }
 
 @media (min-width: 991px) {
     html {
     font-size: 1.2rem;
   }
   h1 {
       font-size: 1.5rem;
   }
   p {
       font-size: 1.4rem;
   }
 }
 
 @media (min-width: 1200px) {
   html {
     font-size: 1.2rem;
   }
   h1 {
       font-size: 1.7rem;
   }
   p {
       font-size: 1.6rem;
   }
 }